@import "tailwindcss";

li {
    list-style-type: none;
}

button {
    @apply cursor-pointer
}

a {
    text-decoration: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll-container {
    scrollbar-width: none;
}

.scroll-container:hover {
    scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
    width: 4px;
}

.scroll-container:hover::-webkit-scrollbar {
    display: block;
}