@import "tailwindcss";

li {
    list-style-type: none;
}

button {
    @apply cursor-pointer
}

a {
    text-decoration: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}